body
{
    color: rgb(92, 13, 39);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#container
{
width: 70%;
padding: 1rem;
text-align: center;
border: 1px solid #ddd;
margin: 0;
}
#container h1 
{
    font-size: 1rem;
}