body
{
<<<<<<< HEAD
    color: rgb(190, 197, 85);
=======
    color: rgb(61, 17, 90);
>>>>>>> mmgvito
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#mmgvito
{
    background-color: blueviolet;
    box-shadow: 0px 7px 20px 0px rgba(0,0,0,
    0,5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0;

}
#Mggvito #logo
{
    width: 20px;
    vertical-align: middle;
}

#mmgvito #tagline
{

    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;

}



#container
{
width: 70%;
padding: 1rem;
text-align: center;
border: 1px solid #ddd;
margin: 0;
}
#container h1 
{
    font-size: 1rem;
}
#post
{
    paddig: 1em;
}
#footer
{

    background-color: rgb(255, 17, 0);
    color: rgb(15, 15, 15);
    text-align: center;
}